body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav .brand-logo {
	padding-left: 1rem;
	font-family: 'Raleway', sans-serif;
}

.brand-name {
	font-family: 'Raleway', sans-serif;
}

main {
	flex: 1 0 auto;
	padding-bottom: 2rem;
}

.disabled {
	pointer-events: none;
}

img {
	max-width: 100%;
}

.footer-copyright-only {
	margin-top: -1rem;
}
